@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap");

:root {
  --bg-clr: #102432;
  --bg-light-color: #152f40;
  --text-clr: #ffffff;
  --accent-clr: #ffda17;
}
/* reset default styles */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: var(--bg-clr);
  color: var(--text-clr);
  font-size: 100%;
  font-weight: 400;
  font-family: Poppins;
}

a,
a:focus,
a:target {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  opacity: 0.7;
}
header {
  height: 4em;
  display: flex;
  align-items: center;
  align-content: space-between;
  margin: 0;
  padding: 0 1em;
  position: relative;
}

.logo {
  font-size: 1.75rem;
  color: var(--accent-clr);
  border: 3px solid var(--accent-clr);
  height: 1.5em;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: color 0.35s ease-in-out;
}
.logo:hover {
  color: var(--text-clr);
}

.toggle {
  cursor: pointer;
}
.toggle svg {
  fill: var(--accent-clr);
  height: 1.5em;
  width: 1.5em;
}

.toggle.close {
  margin: 1em 0;
}

nav {
  width: 100%;
  max-width: 80vw;
  position: fixed;
  background: var(--bg-light-color);
  top: 0;
  right: -80vw;
  bottom: 0;
  height: 100%;
  padding: 1em;
  transition: all 0.35s ease-in-out;
  z-index: 100;
}

.site-nav li a {
  padding: 0.5em 0;
  display: block;
}
/* Main Container */

.main-container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

.hero-section {
  min-height: calc(100vh - 10em);
  padding: 3em 0;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-container {
  max-width: 650px;
}

.hero-top-section {
  font-size: 1.5em;
}
.hero-top-section span {
  color: var(--accent-clr);
}
.hero-title {
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}
.hero-subtitle {
  font-size: 2em;
  opacity: 0.7;
  line-height: 1;
}

/* Cta */
.custom-cta {
  padding: 6px;
  height: 40px;
  background: var(--bg-light-color);
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
}
.custom-cta svg {
  fill: var(--text-clr);
  margin: 0;
  width: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;
}

.custom-cta span {
  display: flex;
  align-items: center;
  justify-self: center;
  color: var(--bg-clr);
  background: var(--accent-clr);
  padding: 0 1.5em;
  font-size: 13px;
  height: 28px;
  border-radius: 28px;
}

section {
  padding: 6em 0;
}
.section-title {
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 1.5em;
}
.section-title::before {
  content: "/";
  color: var(--accent-clr);
  margin-right: 0.5em;
}

.technology-cards {
  margin: 0 0 2em;
}
.technology-cards span {
  display: inline-flex;
  padding: 0.3em 1.5em;
  margin: 0.2em;
  font-size: 1em;
  background: var(--bg-light-color);
  border-radius: 2em;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
.technology-cards span:hover {
  background: var(--accent-clr);
  color: var(--bg-clr);
}
.image-wrapper {
  width: 100%;
  min-width: 300px;
  padding: 0.5em;
  margin: 0 auto;
  border: 1px solid #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
  /* overflow: hidden; */
}

.image-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  opacity: 0.2;
  transition: 0.2s all 0.35s ease-in-out;
}

.image-wrapper:hover {
  padding: 1em;
  transform: scale(1.06);
  border-color: var(--accent-clr);
}
.image-wrapper:hover img {
  opacity: 1;
}

/* experience section */

.tab-titles {
  display: flex;
  margin-bottom: 1em;
  overflow-x: scroll;
}

.tab-title {
  padding: 0.5em 1em;
  font-size: 1em;
  margin-right: 1em;
  background: var(--bg-light-color);
  border-radius: 0.3em;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  white-space: nowrap;
  margin-bottom: 1em;
  min-width: 160px;
}
.tab-title:hover,
.tab-title.active {
  background: var(--accent-clr);
  color: var(--bg-clr);
}

.jobcard {
  padding: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: none;
}
.jobcard.active {
  display: block;
}
.job-title {
  font-size: 1.5em;
  font-weight: 600;
}
.job-title span {
  color: var(--accent-clr);
}
.responsibilities li {
  opacity: 0.7;
  margin: 1em;
  display: block;
  padding-left: 2em;
  position: relative;
  font-size: 0.8em;
}

.responsibilities li::before {
  content: ">";
  position: absolute;
  left: 0;
  color: var(--accent-clr);
}
.work-section {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
}
.work-card {
  background: var(--bg-light-color);
  padding: 1em;
  border-radius: 5px;
}

.work-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.folder {
  fill: var(--accent-clr);
  height: 2em;
  width: 2em;
}

.work-top span svg {
  fill: var(--text-clr);
  height: 1em;
  width: 1em;
}

.work-title p {
  font-size: 0.8em;
}
.work-technologies span {
  padding: 0 0.5em;
  font-weight: 400;
}
.contact-section {
  background: var(--bg-light-color);
}
.contact-section h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.contact-section p {
  margin-top: 0;
}
.custom-cta.dark {
  background: var(--bg-clr);
}
footer p {
  font-size: 0.8em;
}

/* Responsive Design */
@media (min-width: 650px) {
  .work-section {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .work-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .toggle {
    display: none;
  }
  nav {
    position: relative;
    background: unset;
    right: unset;
    width: unset;
  }
  .site-nav {
    display: flex;
  }
  .site-nav li a {
    opacity: 0.7;
    padding: 0.3em 1em;
    transition: all 0.35s ease-in-out;
  }
  .site-nav li a:hover {
    opacity: 1;
  }
  .btn {
    margin-left: 0.5em;
    border: 1px solid var(--accent-clr);
    border-radius: 5px;
  }
  .btn:hover {
    background: var(--accent-clr);
    color: var(--bg-clr);
  }
}
