/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /*========== Colors ==========*/
  --first-color: #ffda17;
  --first-color-light: #152f40;
  --body-color: #102432;

  /*========== Font and typography ==========*/
  --body-font: "Quicksand", sans-serif;
  --normal-font-size: 1rem;
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
}

/*========== ICONS TOOLTIP ==========*/
/* .social,
.social__container,
.social__content {
  display: flex;
}

.social {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.social__content {
  position: relative;
  padding: 0.5rem;
  margin: 0 1rem;
  background-color: var(--first-color-light);
  border-radius: 1rem;
  box-shadow: -2px -2px 8px #fafaff, 2px 2px 8px rgba(13, 12, 64, 0.2);
  cursor: pointer;
}

.social__icon {
  font-size: 2rem;
  color: var(--first-color);
}

.social__tooltip {
  opacity: 0;
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: var(--first-color);
  color: var(--first-color-light);
  font-size: var(--normal-font-size);
  white-space: nowrap;
  font-weight: 700;
  border-radius: 0.5rem;
  pointer-events: none;
}

.social__tooltip::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--first-color);
  border-radius: 3px;
}

.social__content,
.social__tooltip,
.social__icon {
  transition: 0.3s;
}

.social__content:hover {
  background-color: var(--first-color);
}

.social__content:hover .social__icon {
  color: var(--first-color-light);
} */

/*========== Tooltip left ==========*/
/* .social__tooltip-left {
  left: 0;
  transform: translateX(-100%);
}

.social__tooltip-left::after {
  top: 50%;
  transform: translate(50%, -50%) rotate(45deg);
  right: 1px;
}

.social__content:hover .social__tooltip-left {
  opacity: 1;
  left: -1rem;
} */

/*========== Tooltip top ==========*/
/* .social__tooltip-top {
  top: -2.25rem;
  left: 50%;
  transform: translateX(-50%);
}

.social__tooltip-top::after {
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  bottom: 1px;
}

.social__content:hover .social__tooltip-top {
  opacity: 1;
  top: -3.25rem; */
/* } */

/*========== Tooltip bottom ==========*/
/* .social__tooltip-bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

.social__tooltip-bottom::after {
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  top: 1px;
}

.social__content:hover .social__tooltip-bottom {
  opacity: 1;
  bottom: -1rem;
} */

/*========== Tooltip right  ==========*/
/* .social__tooltip-right {
  right: 0;
  transform: translateX(100%);
}

.social__tooltip-right::after {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  left: 1px;
}

.social__content:hover .social__tooltip-right {
  opacity: 1;
  right: -1rem;
} */

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #102432;
  animation: changeColor 5s linear infinite;
}

@keyframes changeColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* section h2 {
  color: #ffda17;
  font-family: monospace;
  font-weight: 300;
  letter-spacing: 10px;
} */

.wrapper {
  display: inline-flex;
  font-family: monospace;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  color: #ffda17;
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 8s steps(5) infinite;
}
@keyframes slide {
  100% {
    top: -450px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #102432;
  border-left: 2px solid #ffda17;
  animation: typing 1.6s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
section .loader {
  position: relative;
  display: flex;
}

section .loader .dot {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  background: var(--first-color);
  box-shadow: 0 0 10px #ffda17;

  /* 0 0 10px #ffda17, 0 0 40px #ffda17,
    0 0 60px #ffda17, 0 0 80px #ffda17, 0 0 100px #ffda17; */
  margin: 20px 10px;
  transform: scale(0.1);
  border-radius: 50%;

  animation: animateDot 4s linear infinite;
  animation-delay: calc(0.7s * var(--i));
}

section .loader:last-child .dot {
  animation: animateDot 4s linear infinite;
  animation-delay: calc(-0.1s * var(--i));
}

@keyframes animateDot {
  0% {
    transform: scale(0.1);
  }
  10% {
    transform: scale(5);
  }
  50%,
  100% {
    transform: scale(0.1);
  }
}
